<% sources?.engine?.forEach(item=> { %>
    <script defer src="/msmg/ENG/<%= item %>"></script>
    <% }); %>
        <% sources?.generic?.forEach(item=> { %>
            <script src="/msmg/GENERIC/<%= item %>"></script>
            <% }); %>
                <% sources?.validation?.forEach(item=> { %>
                    <script src="/msmg/VAL/<%= item %>"></script>
                    <% }); %>

                        <script defer src="/msmg/DEF/<%= sources?.definition %>"></script>
                        <script src="/msmg/SEND/brains/send"></script>
                        

                        </body>

                        </html>