<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../../css/generic/styles.css" />
    <link rel="stylesheet" href="../../../css/generic/display.css" />
    <link rel="stylesheet" href="../../../css/generic/mathlive.css" />
    <link rel="stylesheet" href="../../../css/cap_1/styles.css" />

    <link rel="stylesheet" href="../../../css/cap_1/engineOwner.css" />

    <title>Página 8</title>
  </head>
  <body>
    <div class="containerBasePage"></div>

    <script src="../../../library/jsxgraphcore.min.js"></script>

    <script src="../../../class/engines/abstract/BaseEngine.js"></script>
    <script src="../../../class/engines/abstract/baseBoards.js"></script>
    <script src="../../../class/validation/abstract/BaseValidate.js"></script>

    <script src="../../../class/engines/abstract/NodeHtml.js"></script>
    <script src="../../../class/engines/cap_1/engineEscalas.js"></script>
    <script src="../../../class/validation/cap_1/EscalasValidate.js"></script>
    <script src="../../../class/engines/cap_1/engineOwner.js"></script>

    <script src="../../../library/computeEngine.min.js"></script>
    <script src="../../../library/mathLive.min.js"></script>

    <script src="../../../class/generictClass/abstract/UX.js"></script>
    <script src="../../../class/generictClass/abstract/send.js"></script>

    <script src="../../../class/generictClass/view/Artifact.js"></script>
    <script src="../../../class/generictClass/view/CreateView.js"></script>

    <script src="../../../definitions/cap_1/pag_8.js"></script>
  </body>
</html>
