<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../../css/generic/jsxgraph.css" />
    <link rel="stylesheet" href="../../../css/generic/mathlive-static.css" />

    <link rel="stylesheet" href="../../../css/generic/styles.css" />
    <link rel="stylesheet" href="../../../css/generic/display.css" />
    <link rel="stylesheet" href="../../../css/cap_5/styles.css" />
    <link rel="stylesheet" href="../../../css/cap_5/engineOwner.css" />

    <!-- tailwind -->
    <script src="../../../css/generic/tailwind.js"></script>
    <!-- <script src="../../../css/generic/tailwindcss.ccs"></script> -->
    <title>Página 1 cap 5</title>
  </head>

  <body>
    <div class="containerBasePage"></div>

    <script src="../../../library/jsxgraphcore.min.js"></script>
    <!-- class  abstractas-->
    <script src="../../../class/engines/abstract/BaseEngine.js"></script>
    <script src="../../../class/engines/abstract/baseBoards.js"></script>

    <!-- validation -->
    <script src="../../../class/validation/abstract/BaseValidate.js"></script>
    <script src="../../../class/validation/cap_5/validationVector.js"></script>
    <!-- class engine -->

    <script src="../../../class/engines/cap_5/VectorEngine.js"></script>
    <script src="../../../class/engines/cap_5/engineOwnerx.js"></script>
    <!-- librerias -->
    <script src="../../../library/computeEngine.min.js"></script>
    <script src="../../../library/mathLive.min.js"></script>
    <!-- class generica abtracta para las interfaces -->
    <script src="../../../class/generictClass/abstract/UX.js"></script>
    <!-- class generica artifact -->
    <script src="../../../class/generictClass/view/Artifact.js"></script>
    <!-- clase generica para generar las vistas -->
    <script src="../../../class/generictClass/view/CreateView.js"></script>
    <!-- definicion que se usa en la pagina -->
    <script src="../../../definitions/cap_5/pag_1.js"></script>

    
  </body>
</html>
